<h4>Login</h4>

<form action="/login" method="post">
  <div class="input-field">
    <input type="text" name="user[username]" id="username">
    <label for="username">Username</label>
  </div>
  <div class="input-field">
    <input type="password" name="user[password]" id="password">
    <label for="password">Password</label>
  </div>

  <input type="submit" value="Login" class="btn-small">
</form>