<h2 class="indigo-text darken-3">Create Game</h2>

<form action="/games" method="post">
  <div class="input-field">
    <input id="title" name="game[title]" type="text" class="validate">
    <label for="title">Title</label>
  </div>
  <div class="input-field">
    <input type="text" class="datepicker" name="game[release_date]" id="release_date">
    <label for="release_date">Release Date</label>
  </div>
  <div class="input-field">
    <input id="genre" name="game[genre]" type="text" class="validate">
    <label for="genre">Genre</label>
  </div>
  <div class="input-field">
    <input id="review_1_title" name="game[reviews][][title]" type="text" class="validate">
    <label for="review_1_title">Review 1 title</label>
  </div>
  <div class="input-field">
    <input id="review_1_content" name="game[reviews][][content]" type="text" class="validate">
    <label for="review_1_content">Review 1 contnet</label>
  </div>
  <div class="input-field">
    <input id="review_2_title" name="game[reviews][][title]" type="text" class="validate">
    <label for="review_2_title">Review 2 title</label>
  </div>
  <div class="input-field">
    <input id="review_2_content" name="game[reviews][][content]" type="text" class="validate">
    <label for="review_2_content">Review 2 content</label>
  </div>

  <input type="submit" value="Create Game" class="btn indigo darken-3">
</form>


<script>
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>